img {
  height: 100px;
  border-radius: 10px;
}

legend {
  color: #2980b9;
  font-size: 20px;
  font-weight: bold;
}

fieldset {
  border: 7px solid black;
  font-weight: bold;
  border-radius: 10px;
}

h4 {
  color: #2980b9;
  font-weight: bold;
}

label {
  font-weight: bold;
}

.button {
  background-color: #2980b9;
}
